<p style="color: green"><%= notice %></p>
<div class="page inventories-page">
  <h1>Inventories</h1>

  
    <% @inventories.each do |inventory| %>
      <div class="inventories">
        <%= render inventory %>
        <div class="inventory-view-delete">
        <p>
          <%= link_to "View Inventory", inventory %>
        </p>
        <p>
          <%= button_to "Delete Inventory", inventory_path(inventory.id), method: :delete %>
        </p>
        </div>
      </div>
    <% end %>

  <%= link_to "New inventory", new_inventory_path %>
</div>
