<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div class="field">
      <%= form.label :name %><br />
      <%= form.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>
    <div class="field">
    <%= form.label :preparation_time %><br />
    <%= form.text_field :preparation_time, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= form.label :cooking_time %><br />
    <%= form.text_field :cooking_time, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= form.label :public %><br />
    <%= form.text_field :public, autofocus: true, autocomplete: "name" %>
  </div>
    <%= form.submit %>
  </div>
<% end %>
