<div class="recipe-container" id="<%= dom_id recipe %>">
    <div class="recipe-name-descrip">
        <h2><%= recipe.name %> </h2>
        <p><%= recipe.description %> </p>
    </div>
    
    <div class="recipe-show-delete">
        <div><%= button_to "View Recipe", recipe, method: :get %></div>
        <div><%= button_to "Delete Recipe", recipe, method: :delete %></div>
    </div>

</div>
