<div class="each-recipe" id="<%= dom_id recipe %>">
    <h2><%= recipe.name %> </h2>
    <p><%= recipe.description %> </p>



    <div class="each-recipe-buttons">
    <div class="show-this-recipe"><%= button_to "Show", recipe, method: :get %></div>
    <div class="delete-this-recipe"><%= button_to "Delete", recipe, method: :delete %></div>
    </div>

</div>
