<p style="color: green"><%= notice %></p>

<%= render @recipe %>
<div class="preparation-time"><h3>Preparation Time: </h3><%=(@recipe.preparation_time/60).floor(4) %> hour </div>
<div class="cooking-time"><h3>Cooking Time: </h3><%=(@recipe.cooking_time/60).floor(4) %> hour </div>

<%= button_to(@recipe.public? ? "Make Private" : "Make Public", toggle_recipe_privacy_path(@recipe), method: :put, class: "update-recipe") %>

</br>

<button>
<%= link_to "Add ingredient", new_recipe_recipe_food_path(@recipe) %> 
</button>
<div>

</br>

<div id="recipe_foods">
  <% @recipe_foods.each_with_index do |recipe_food, index| %>
    <%= render recipe_food %>
    <%= recipe_food.food.name %>
    <%= recipe_food.quantity %>
    <%= @foods[index].value %>
    <%= button_to "Remove", recipe_food, method: :delete %>
    <%= button_to "Modify", recipe_food, method: :edit %>

  <% end %>
</div>

 </div>


<div>
  <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
  <%= link_to "Back to recipes", recipes_path %>
</div>
