<div class="page">
<p style="color: green"><%= notice %></p>

<h2><%= @recipe.name %></h2>

<div class="recipe-details-container">
  <div class="recipe-times">
    <div class="preparation-time">
      <h3>Preparation Time: </h3><%=(@recipe.preparation_time/60).floor(4) %> hour 
    </div>
    <div class="cooking-time">
      <h3>Cooking Time: </h3><%=(@recipe.cooking_time/60).floor(4) %> hour 
    </div>
  </div>
  <div>
    <%= button_to(@recipe.public? ? "Make Private" : "Make Public", toggle_recipe_privacy_path(@recipe), method: :put, class: "update-recipe") %>
  </div>
</div>

<div class="function-buttons">
  <button class="generate-shopping-list">
    <%= link_to "Generate Shopping List" %> 
  </button>

  <button class="add-ingredient">
    <%= link_to "+ Add ingredient", new_recipe_recipe_food_path(@recipe) %> 
  </button>

</div>

<table class="table table-sm table-striped table-bordered border-dark recipe-table">
<tr>
  <th> Recipe Food Item </th>
  <th> Quantity </th>
  <th> Price </th>
  <th> Actions </th>
</tr>
<div id="recipe_foods">
  <% @recipe_foods.each_with_index do |recipe_food, index| %>
    <tr>
    <td>   <%= recipe_food.food.name %></td>
    <td>    <%= recipe_food.quantity %></td>
    <td><%= @foods[index].value %></td>

    <td>
    <div class="show-actions">
    <%= button_to "Remove", recipe_recipe_food_path(recipe_food.recipe_id, recipe_food.id), method: :delete %>
    
    </div>
    </td>

    </tr>
  <% end %>
</div>
</table>



<div>

</br>

 </div>


</div>